<!-- Including footer -->
<wrapper class="header">
  <container>
    <row class="collapse">
      <columns>
        <center>
          <menu class="vertical text-center">
            <item href="mailto:{!! $main_email !!}" class="white-text fs-12 item-footer">
              <small class="blue-text">Email: <span class="orange-text">{!! $main_email !!}</span></small>
            </item>
            <item href="tel:{!! $main_phone !!}" class="white-text fs-12 item-footer">
              <small class="blue-text">Tel: (+57) {!! $main_phone !!}, {!! $secondary_phone !!}</small>
            </item>
            <item href="#" class="white-text fs-12 item-footer">
              <small class="blue-text">{!! $address !!}</small>
            </item>
            <item href="#" class="white-text fs-12 item-footer">
              <small class="blue-text">
                  Todos los derechos reservados {!! $year !!}. <a class="orange-text" href="https://todosen4.com">TodosEn4.com</a>
              </small>
            </item>
          </menu>
        </center>
      </columns>
    </row>
  </container>
</wrapper>
<!-- ./Including footer -->
